services:
  session:
    ports:
      - "10000:10000/tcp"
      - "10000:10000/udp"
      - "10001:10001/tcp"
      - "10002:10002/tcp"
      - "10003:10003/tcp"
      - "10004:10004/udp"
    environment:
      - SERVICE_NODE_IP_ADDRESS=
      - L2_PROVIDER=
      - LMQ_PORT=10000
      - STORAGE_SERVER_PORT=10001
      - P2P_PORT=10002
      - QUORUMNET_PORT=10003
      - LOKINET_PORT=10004