services:
  session:
    ports:
      - "${LMQ_PORT:?}:${LMQ_PORT:?}/tcp"
      - "${LMQ_PORT:?}:${LMQ_PORT:?}/udp"
      - "${P2P_PORT:?}:${P2P_PORT:?}/tcp"
      - "${QUORUMNET_PORT:?}:${QUORUMNET_PORT:?}/tcp"
    environment:
      - SERVICE_NODE_IP_ADDRESS=${SERVICE_NODE_IP_ADDRESS:?}
      - L2_PROVIDER=${L2_PROVIDER:?}
      - LMQ_PORT=${LMQ_PORT:?}
      - STORAGE_SERVER_PORT=${STORAGE_SERVER_PORT:?}
      - P2P_PORT=${P2P_PORT:?}
      - QUORUMNET_PORT=${QUORUMNET_PORT:?}
  session-storage:
    ports:
      - "${STORAGE_SERVER_PORT:?}:${STORAGE_SERVER_PORT:?}/tcp"
    environment:
      - LMQ_PORT=${LMQ_PORT:?}
      - STORAGE_SERVER_PORT=${STORAGE_SERVER_PORT:?}
  session-lokinet:
    ports:
      - "${LOKINET_PORT:?}:${LOKINET_PORT:?}/udp"
    environment:
      - SERVICE_NODE_IP_ADDRESS=${SERVICE_NODE_IP_ADDRESS:?}
      - LOKINET_PORT=${LOKINET_PORT:?}